.list-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.list-title {
  color: rgb(238, 165, 179);
  margin-bottom: 10px; /* Adds spacing between title and description */
}

.list-desc {
  color: rgb(225, 163, 233);
  word-wrap: break-word; /* Ensures long words wrap */
  max-width: 80%; /* Limits width of description to 80% of container */
}

.list-edit,
.list-delete {
  margin-top: 20px; /* Adds space between buttons and description */
}
