.profile-dropdown {
  position: absolute;
  top: 60px; /* Adjust the top position to position it below the profile button */
  right: 20px; /* Adjust the right position to control the horizontal alignment */
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #ccc;
  padding: 0.5rem;
  z-index: 1;
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(206, 206, 206);
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown li {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.profile-dropdown li:hover {
  color: white;
  background-color: #007bff;
}

.profile-dropdown button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.profile-dropdown button:hover {
  color: white;
}

.profile-dropdown::before {
  content: "";
  position: absolute;
  top: -7px;
  right: 10px;
  border-style: solid;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #ccc transparent;
}

.profile-dropdown::after {
  content: "";
  position: absolute;
  top: -6px;
  right: 10px;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent white transparent;
}
