/* 

.splash-nav {
  justify-content: flex-end;
  display: flex;
}

.splash-header {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.sanrio-note-title {
  color: rgb(145, 171, 226);

}

.splash-body {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 64px;
}

.splash-left {
  width: 45%;
}

.signup {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login-description {
  color: rgb(133, 185, 230);
}
.account-login {
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.login-link{
  color: black;
}

.cta-buttons {
  display: grid;
  justify-content: center;
}

.sign-up-button {
  font-size: 30px;
  background-color: rgb(163, 172, 232);
  border: none;
  color: rgb(100, 94, 94);
  border-radius: 20px;
  height: 70px;
  cursor: pointer;
}



.splash-right {
  width: 45%;
}

.notepage-photo {
  float: left;
  margin-right: 20px; 
}

.splash-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 16px;
}

.social-media-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

#note-logo {
  border-radius: 10em;
  float: left;
  width: 300px;
  height: 300px;
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  .sanrio-note-landing {
    flex-direction: column;
  }

  .notepage-photo {
    width: 100%;
    margin-right: 0;
  }
}

.sanrio-note-landing {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.notepage-photo {
  float: left;
  margin: 0 30px 20px 0;
  width: 400px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.notepage-photo img {
  max-width: 100%;
  height: auto;
}

.sanrio-description {
  margin-top: 20px;
  border-top: gray solid 1px;
  text-align: justify;
  max-width: 50%;
  display: inline-block;
  font-size: 18px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.profile-button {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  justify-content: center;
  transition: background-color 0.3s;
}

.profile-button:hover {
  background-color: #f3f3f3;
}

.profile-dropdown {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px;
  position: absolute;
  right: 10px;
  bottom: 640px;
  width: 200px;
  z-index: 1;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown li {
  margin-bottom: 10px;
}

.profile-dropdown button {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin-top: 10px;
  padding: 5px 10px;
  transition: background-color 0.3s;
  width: 100%;
}

.profile-dropdown button:hover {
  background-color: #f3f3f3;
}

.profile-dropdown a {
  color: #333;
  display: block;
  font-size: 14px;
  margin-top: 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.profile-dropdown a:hover {
  color: #0077c0;
} */

.splash-page-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.splash-nav {
  justify-content: flex-end;
  display: flex;
}

.splash-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notepage-photo {
  float: left;
  margin: 0 30px 20px 0;
  width: 400px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.notepage-photo img {
  max-width: 100%;
  height: auto;
  border-radius: 1em;
}

.description {
  max-width: 800px;
}

.title {
  font-size: 48px;
  margin-bottom: 0;
  color: rgb(73, 80, 87);
}

.subtitle {
  font-size: 24px;
  margin-top: 0;
  color: rgb(133, 153, 168);
  line-height: 1.5;
  margin-bottom: 32px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
}

.sign-up-button {
  align-items: center;
  font-size: 30px;
  background-color: rgb(255, 163, 163);
  border: none;
  color: rgb(73, 80, 87);
  border-radius: 20px;
  height: 70px;
  cursor: pointer;
  padding: 0 40px;
  margin-right: 16px;
}

.login-link {
  font-size: 18px;
  color: rgb(133, 185, 230);
  margin-left: 16px;
}



.happy-place {
  background-color: rgb(255, 163, 163);
  padding: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.happy-place-title {
  font-size: 48px;
  margin-bottom: 0;
  color: white;
  text-align: center;
}

.social-media {
  background-color: rgb(241, 243, 244);
  padding: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-media-title {
  font-size: 36px;
  margin-bottom: 64px;
  color: rgb(73, 80, 87);
  text-align: center;
  width: 100%;
}

.social-media-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.github-button,
.linkedin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 8px;
  border-radius: 8px;
  margin-right: 16px;
  color: white;
  text-decoration: none;
  background-color: rgb(73, 80, 87);
  transition: background-color 0.2s ease-in-out;
}

.github-button:hover,
.linkedin-button:hover {
  background-color: rgb(51, 56, 62);
}

.github-button img,
.linkedin-button img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
